<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>{% block title %} {% endblock %} Plant Store</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="{{ url_for('index') }}" class="brand-logo">Plant Store</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!---
        <li><a href="/products/{{username}}">PRODUCTS</a></li>
        <li><a href="/cart_processing"><i class="fa fa-shopping-cart"></i> SHOPPING CART</a></li>
        <li><a href="/wishlist"><i class="fa fa-heart"></i> WISHLIST</a></li>
        <li><a href="/feedback_post">FEEDBACK</a></li>
        <li><a href="/contact"><i class="fa fa-phone"></i> CONTACT US</a></li>
      -->
      </ul>
    </div>
  </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
