<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% extends "base.html" %}

    {% block content %}
    <h3>Shopping Bill</h3>
    <h5>Total Bill Amount = <b>${{totalSum}}</b></h5>


    <form action="/cart_processing" method="post">
      <div class='prod'>
          <div class="row">
            <div class="col s1 m6">
              <div class="card grey lighten-3">
                {% for item in Items %}
                <div class="card-content black-text">
                  <h5>{{ item[0] }}</h5>
                  <h6><b>${{ item[1] }}</b></h6>
                </div>
                {% endfor %}
                <span class="card-title">Amount paid: <b>${{totalSum}}</b></span>
                <p>Give us feedback on your experience!</p>
                <a class="waves-effect waves-light btn" href="/feedback/{{uname}}">Feedback</a>
              </div>
            </div>
          </div>
        </div>
    </form>

      {% endblock %}
