<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% extends "base.html" %}

    {% block content %}
    <h3>Shopping cart</h3>
    <h5>Total Cart Amount = <b>${{totalSum}}</b></h5>
    <h5>{{uname}}</h5>
    <form class="" action="/payment" method="post">
      <input type="text" id="sum" name="cart_sum" value="{{ totalSum }}" readonly hidden>
    </form>
    <a class="waves-effect waves-light btn" href="/payment/{{totalSum}}/{{uname}}">Checkout</a>
    <a class="waves-effect waves-light btn" href="/products/{{uname}}">Add more products</a>
      {% endblock %}
