<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% extends "base.html" %}

    {% block content %}
    <h3>Contact Us</h3>
    <h5>This website was designed for the CSE 412 Project.</h5>
    <h6>The group members are: Harika Bhogaraju, Fatimah Alyousef, and Ayush Gaur</h6>
    <br>
    <h5>Email ID:</h5>
    <h6>Harika Bhogaraju: hbhogara@asu.edu</h6>
    <h6>Fatimah Alyousef: fhalyous@asu.edu</h6>
    <h6>Ayush Gaur: </h6>
    <input type="text" id="uname" name="uname" value="{{ uname }}" readonly hidden>
    {% endblock %}
