<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Products {% endblock %}</h3>
      {% for prod in prods %}
      <form action="/cart_processing" method="post">
        <div class='prod'>
            <div class="row">
              <div class="col s1 m6">
                <div class="card teal lighten-1">
                  <div class="card-content white-text">
                    <span class="card-title">#{{ prod[0] }}</span>
                    <h6><b>{{ prod[1] }}</b></h6>
                    <h6>Scientific Name: {{ prod[2] }}</h6>
                    <h6>Type: {{ prod[4] }}</h6>
                    <br>
                    <p>Benefit: {{ prod[3] }}</p>
                    <p>Price: ${{ prod[5] }}</p>

                    <p>Quantity: <input type="text" id="quantity" name="quantity" min="0" max="20" maxlength="2" size="2" style="color:white;width: 100%;margin: 8px 0;box-sizing: border-box;border: none;border-bottom: 2px solid white;"></p>

                    <input type="text" id="pid" name="prod_id" value="{{ prod[0] }}" readonly hidden>
                    <input type="text" id="price" name="prod_price" value="{{ prod[5] }}" readonly hidden>
                    <input type="text" id="uname" name="uname" value="{{ uname }}" readonly hidden>
                  </div>
                  <div class="card-action">
                    <button class="btn waves-effect white black-text" type="submit" name="action">Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form>
    {% endfor %}
{% endblock %}
